<div class="container">

<h1>Code Camp 2021</h1>
<h5>Pull up a folding chair and sit a spell.</h5>
<img src="<%= asset_path('/assets/8bit-valley.gif') %>" alt="Comfy valley" width="1000" height="1000" >
</div>